* {
    font-family: Lucida Sans Unicode;
    font-size: 24px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(to right, #4d0b9c, #0cc6c6) !important;
}

#MOTD {
    text-align: center;
}

#myButton {
    color: black;
    background-color: lightgray;
    font-weight: bold;
}

#myMessage {
    color: black;
    text-shadow: 1px 1px 4px grey;
}